<div class="row">
  <div class="col-md-12">
    <form (submit)="createPurnchaseOrderItems()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Item Name</label>
              <input type="text" name="Name" class="form-control"
                     [(ngModel)]="createItemFormData.name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Item Price</label>
              <input type="number" name="Price" class="form-control"
                     [(ngModel)]="createItemFormData.price">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" style="opacity: 0;">Create Item</label>
              <button [disabled]="!createItemFormData.name || !createItemFormData.price" type="submit" class="btn btn-primary form-control">
                  Add Item
              </button>
          </div>
      </div>
      </div>
    </form>
  </div>
</div>

<div style="margin-top: 10px;" *ngIf="!isLoading">
  <table mat-table [dataSource]="purnchaseOrderItems" class="mat-elevation-z8">
  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<label *ngIf="isLoading">Loading...</label> -->


